body{
	margin: 30px;
	font-family: 'Helvetica', sans-serif; font-size: 1.5em;
}

#class{
	background-color: lightblue;
	height: 30px;
}

#parent{
	display: flex;
	flex-direction: row;

}
#parent-1{
	background-color: #69C;
	width: 50%;
	text-align: center;
	
}
#parent-2{
	background-color: #99C;
	width: 50%;
	text-align: center;
	height: 200px;
	
}
footer{
	background-color: rgb(39, 13, 62);
	height: 100px;
	margin-bottom: 0;
	clear: left;
}